*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: cursive, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #00aaff, #00ff6c); */
  /* background: rgb(21, 0, 39); */
  background: linear-gradient(#bdc3c7, #2c3e50);
}
body::before {
  /* ye dark wala hai */
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 157));
  clip-path: circle(30% at right 70%); */

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(93 0 255), #d1157d);
  clip-path: circle(30% at right 80%);
}
body::after {
  /* ye dark wala hai */
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 140, 255), rgb(255, 29, 85));
  clip-path: circle(20% at 10% 10%); */

  /* light wala */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, rgb(0 231 255));
  clip-path: circle(20% at 10% 10%);
}
/* .container {
  background: linear-gradient(#bdc3c7, #2c3e50);
} */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(160, 160, 160, 0.75);
  /* background-color: rgba(0, 248, 255, 0.75); */
  border-radius: 5px;
  color: white;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(160, 160, 160, 0.75);
  /* background-color: rgba(0, 248, 255, 0.75); */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
